{% extends "./base.html" %}

{% block title %}
User dashboard
{%endblock%}
{% block body%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.0/chart.min.js" integrity="sha512-mlz/Fs1VtBou2TrUkGzX4VoGvybkD9nkeXWJm3rle0DPHssYYx4j+8kIS15T78ttGfmOjH0lLaBXGcShaVkdkg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<div class="card-group">
    <div class="card text-center">
      <h5 class="card-title">Monthly analysis</h5>
      <div class="card-body">
        <canvas id="mymonthlyexpenses"></canvas>
      </div>
      <div class="card-footer">
        <h6 class="text-info">Total expenses in the past 30 days - {{month_expense_sum}}</h6>
        <h6 class="text-success">Total income in the past 30 days - {{month_income_sum}}</h6>
        {% if budget_exceeded %}
        <p class="text-danger">You have crossed your monthly budget</p>
        {% endif %}
      </div>
    </div>
    <div class="card text-center">
      <h5 class="card-title">Yearly analysis</h5>
      <div class="card-body">
        <canvas id="myyearlyexpenses"></canvas>
      </div>
      <div class="card-footer">
        <h6 class="text-info">Total expenses in the past 365 days - {{year_expense_sum}}</h6>
        <h6 class="text-success">Total income in the past 365 days - {{year_income_sum}}</h6>
      </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx1 = document.getElementById('mymonthlyexpenses');
    new Chart(ctx1, {
        type: 'pie',
        data: {
        labels: {{ month_labels|safe}},
        datasets: [{
            label: 'Total amount spent',
            data: {{ month_data|safe}},
            borderWidth: 1,
        }]
        },
        options: {
    responsive: true,
    maintainAspectRatio: false,
    scales: {
        yAxes: [{
            ticks: {
                beginAtZero:true
            }
        }]
    }
    }
    });
</script>
<script>
    const ctx2 = document.getElementById('myyearlyexpenses');
    new Chart(ctx2, {
        type: 'pie',
        data: {
        labels: {{ year_labels|safe}},
        datasets: [{
            label: 'Total amount spent',
            data: {{ year_data|safe}},
            borderWidth: 1,
        }]
        },
        options: {
    responsive: true,
    maintainAspectRatio: false,
    scales: {
        yAxes: [{
            ticks: {
                beginAtZero:true
            }
        }]
    }
    }
    });
</script>
{%endblock%}