{% extends "./base.html" %}
{% load icons %}

{% block title %}
User dashboard
{%endblock%}


{% block body%}
{% if last_week_data %}
<div class="table-responsive-sm m-5">
    <table class="table table-bordered border-dark table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Type</th>
                <th scope="col">Category</th>
                <th scope="col">Comment</th>
                <th scope="col">Amount</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in last_week_data %}
            <tr>
                <td>{{ transaction.date }}</td>
                <td>{{ transaction.type }}</td>
                <td>{{ transaction.category }}</td>
                <td>{{ transaction.comment }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{% icon 'edit' %}</td>
                <td><a href="">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<h5 class="text-center">No Transaction yet!</h5>
{% endif %}

<div class="card-group m-5">
    <div class="card text-center">
      <div class="card-body">
        <form method="POST">
          {% csrf_token %}
        <h5 class="card-title">Do you want to set a monthly budget?</h5>
        <p class="card-text"><input type="number" value="{{monthly_budget}}" name="monthly_budget"></p>
        <a href="{% url 'dashboard' %}"><button type="submit" class="btn btn-primary btn-lg">Update budget</button></a>
        </form>
      </div>
    </div>
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">View all expenses</h5>
        <p class="card-text"><a href="{% url 'allexpenses' %}"><button type="button" class="btn btn-primary btn-lg">View all expenses</button></a></p>
      </div>
    </div>
</div>
{%endblock%}