{% extends "./base.html" %}

{% block title %}
User dashboard
{%endblock%}


{% block body%}
{% if last_week_data %}
<div class="table-responsive-sm m-5">
    <table class="table table-bordered border-dark table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Type</th>
                <th scope="col">Category</th>
                <th scope="col">Comment</th>
                <th scope="col">Amount</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in last_week_data %}
            <tr>
                <td>{{ transaction.date }}</td>
                <td>{{ transaction.type }}</td>
                <td>{{ transaction.category }}</td>
                <td>{{ transaction.comment }}</td>
                <td>{{ transaction.amount }}</td>
                <td><a href="{% url 'edit' transaction.id %}"><button class="btn btn-secondary" value="{%url 'edit' transaction.id %}">Edit</button></a></td>
                <form method="POST" action="delete/{{transaction.id}}">
                  {% csrf_token %}
                  <td><button type="submit" class="btn btn-outline-secondary" name="delete_id">Delete</button></td>
                </form>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="pagination justify-content-end m-5">
  <span class="step-links">
      {% if last_week_data.has_previous %}
          <a href="?page=1"><button class="btn page-change-btn btn-outline-primary">First</button></a>
          <a href="?page={{last_week_data.previous_page_number}}"><button class="btn page-change-btn btn-outline-secondary">Previous</button></a>
      {% endif %}

      <span class="current">
          <p class="text-primary">Page {{ last_week_data.number }} of {{ last_week_data.paginator.num_pages }}</p>
      </span>

      {% if last_week_data.has_next %}
          <a href="?page={{last_week_data.next_page_number}}"><button class="btn page-change-btn btn-outline-primary">Next</button></a>
          <a href="?page={{last_week_data.paginator.num_pages}}"><button class="btn page-change-btn btn-outline-secondary">Last</button></a>
      {% endif %}
  </span>
</div>
{% else %}
<h5 class="text-center">No Transaction yet!</h5>
{% endif %}

<div class="card-group m-5">
    <div class="card text-center">
      <div class="card-body">
        <form method="POST">
          {% csrf_token %}
        <h5 class="card-title">Do you want to set a monthly budget?</h5>
        <p class="card-text"><input type="number" value="{{monthly_budget}}" name="monthly_budget"></p>
        <button type="submit" class="btn btn-primary btn-lg">Update budget</button>
        </form>
      </div>
    </div>
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">View all expenses</h5>
        <p class="card-text"><a href="{% url 'allexpenses' %}"><button type="button" class="btn btn-primary btn-lg">View all expenses</button></a></p>
      </div>
    </div>
</div>
{%endblock%}